/Replacing Constructor/nbproject/private/
/Replacing Constructor/build/
/Java Reflect/nbproject/private/
/Java Reflect/build/
/Java Reflect/dist/
/PolymorphicExmpl/nbproject/private/
/Replace Conditional With Polymorphism/nbproject/private/
/Replace Conditional With Polymorphism/build/