/Replacing Constructor/nbproject/private/
/Replacing Constructor/build/
/Java Reflect/nbproject/private/
/Java Reflect/build/
/Java Reflect/dist/
/PolymorphicExmpl/nbproject/private/
/Replace Conditional With Polymorphism/nbproject/private/
/Replace Conditional With Polymorphism/build/
/Using Variables To Make Understandable Code3/nbproject/private/
/Using Variables To Make Understandable Code3/build/
/Replacing Constructor/dist/